CREDS = {
    "arkits": {
        "client_id": "",
        "client_secret": "",
        "username": "arkits",
        "password": "hunter2"
    }
}

MONGODB_URI = "mongodb+srv://admin:password@myfree.mongodb.net/test?retryWrites=true&w=majority"